.searchBox {
    position: relative;
    margin: 5rem 0;
}
.searchBox .form-control {
    font-size: 1.4rem;
}
.searchBox .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3.4rem;
    width: 8.7rem;
}





.searchResult {
    min-height: 30rem;
    margin: 4rem 0;
}

.searchResult-item {
    border: 1px solid lightblue;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.searchResult-item-img  {
    float: left;
    width: 6.4rem;
    height: 6.4rem;
    margin-right: 3rem;
    border: 1px solid lightgray;
}

.searchResult-item-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchResult-item-info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}