.btn-positioned {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.btn-positioned .btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.publish-info .row {
    margin: 3rem 0;
}

.datetimepicker .form-control {
    cursor: not-allowed;
}

.datetimepicker {
    margin-left: 1rem;
}

.form-control {
    font-size: 1.2rem;
}

.modal-body .row {
    margin-bottom: 2rem;
}

.modal-body .form-group {
    font-size: 1.2rem;
}

.modal-body .form-control-label {
    padding: .5rem;
}


/* .modal-body .btn.btn-success {
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 100%;
} */

.examLibCon {
    display: none;
}

.exam-choice-btn {
    font-size: 12px;
}