@charset "utf-8";
@import "../../lib/lib.css";
@import "main.css";
.getValMsgBtn {
    position: absolute;
    top: 2.6rem;
    right: 0;
}

.alert {
    display: none;
}

.form-group.text-center {
    margin: 2.5rem 0;
}

.find-psd {
    position: absolute;
    left: 1.5rem;
}

.modal-header {
    position: relative;
    height: 18rem;
}

.modal-header figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-header .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.form-control,
.btn {
    font-size: 1.4rem;
}

.fa-eye-slash,
.fa-eye {
    position: absolute;
    top: 3.95rem;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.navbar a {
    color: #292b2c;
}

.f-hr {
    width: 10rem;
    border: .2rem solid #292b2c;
}

#userInfo {
    /*position: absolute;
    right: 3rem;
    top: 3rem;*/
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    /*border: 1px solid #fff;*/
    border-radius: 50%;
}



._main {
    margin-top: 4rem;
}

.dropdown-item {
    font-size: 1.4rem;
}

th,
td {
    text-align: center;
}

.avator {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.qq_link {
    color: #fff;
    text-decoration: none;
}