*{
    font-size: 18px;
    margin: auto;
}
ul{
    list-style: none;
    width: 90%;
    position: relative;
    top:1em;
    left:-1em;
}
li{
    width: 100%;
    margin: 2em auto;
}
body{
    background: #ebebeb;
    color: #222;
}
.top{
    width: 100%;
    height: 350px;
    background-color: #ebebeb;
}
.bottom{
    width: 100%;
    height:400px;
    background-color: #0386b4;
}
.center{
    position: relative;
    top:-8em;
    width: 22em;
    height: 14em;
    margin: auto;
    background: #ffffff;
    text-align: center;
    border: 1px solid #e7e7e7;
}
button{
    width: 80%;
    background-color: #0386b4;
    border: dashed 1px #0386b4;
    color: #ebebeb;
}