@charset "UTF-8";
.container {
    padding-top: 5rem;
}

.profile-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    margin-bottom: 3rem;
    border: 1px solid #c0c0c0;
    border-radius: 100%;
}

.profile-img img {
    width: 100%;
}

.form-group {
    margin-top: 2rem;
}

.list-group-item,
.btn {
    background-color: transparent;
}

.list-group-item .fa,
.collect-info .fa {
    margin-right: 1rem;
}

.btn {
    border: 1px solid #c0c0c0;
    border-radius: .5rem;
}

.collect-info {
    position: relative;
    height: 2.4rem;
    margin-bottom: 1rem;
    padding-top: .3rem;
}

.collect-info .btn {
    position: absolute;
    top: 0;
    right: 0;
}

._main {
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 2rem;
}

.collect {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #c0c0c0;
    border-radius: .5rem;
}

.btn-hover-show {
    display: none;
}