<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FunExam - W3Fun</title>
    <link rel="stylesheet" href="../public/stylesheets/css/funExam.css"/>
</head>
<body>
    <div id="particles-js"></div>
    <div class="container-fluid">
        <h1>Fun Exam</h1>
        <h2>Welcome to Fun Exam :)</h2>

        <p class="_brand">Practice makes perfect.</p>

        <form method="post" action="#">
            <label for="signIn"></label>
            <input type="button" id="signIn" class="btn btn-lg" value="登录">
            <label for="signUp"></label>
            <input type="button" id="signUp" class="btn btn-lg" value="注册">
        </form>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="../public/lib/particles.min.js"></script>
    <script src="../public/js/particlesInit.js"></script>
</body>
</html>