<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>添加题库 - FunExam</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css"/>
    <link rel="stylesheet" href="../static/stylesheets/css/admin_login.css"/>

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../static/img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
                <span>Fun Exam</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="admin.html">在线统计<span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin_add.html">添加题库</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin_edit.html">编辑题库</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin_publish.html">发布考试</a>
                    </li>
                </ul>
                <form class="form-inline navbar-form pull-right">
                    <input class="form-control" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav mt-2 mt-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="true" aria-expanded="false">

                            欢迎您 <span th:inline="text"> [[${#httpServletRequest.remoteUser}]]</span>


                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="404.html">个人主页</a>
                            <a class="dropdown-item" href="404.html">账号设置</a>
                            <a class="dropdown-item" href="404.html">我的简历</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html">退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="container" style="padding-top: 10rem">
        <div class="row">
            <aside class="col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-heading list-group-item-success">请选择分类</li>
                    <li class="list-group-item list-group-item-action active">C/C++</li>
                    <li class="list-group-item list-group-item-action">Java</li>
                    <li class="list-group-item list-group-item-action">JavaScript</li>
                    <li class="list-group-item list-group-item-action">HTML/CSS</li>
                </ul>
            </aside>
            <main class="col-sm-9 push-sm-1">
                <h1>添加题库</h1>
                <hr />
            </main>
        </div>
    </div>
</body>
</html>