<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>发布考试 - FunExam</title>
    <meta name="keyword" content="Fun Exam" />
    <meta name="description" content="An exam system for students" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css" />
    <link rel="stylesheet" href="../static/lib/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="../static/stylesheets/css/admin_publish.css" />

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="../static/img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
            <span>Fun Exam</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="admin.html">在线统计</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_add.html">添加题库</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">编辑题库</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="admin_publish.html">发布考试<span class="sr-only">(current)</span> </a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                        欢迎您 <span th:inline="choices"> [[${#httpServletRequest.remoteUser}]]</span>


                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="login.html">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-top: 10rem">
        <div class="row">
            <main class="col-sm-8 push-sm-2">
                <h1>发布考试</h1>
                <hr />
                <button type="button" class="btn btn-success btn-positioned">
                    <a href="#" class="btn-link">查看已发布的考试</a>
                </button>
                <div class="publish-info">
                    <div class="row">
                        <div class="col-sm-2">考试类型</div>
                        <div class="col-sm-10">
                            <select name="type" id="chooseType" class="custom-select">
                                <option selected value="">请选择</option>
                                <option value="1">嵌入式</option>
                                <option value="2">web后端</option>
                                <option value="3">Android</option>
                                <option value="4">web前端</option>
                                <option value="5">招新笔试</option>
                                <option value="6">C/C++</option>
                                <option value="7">Java</option>
                                <option value="8">JavaScript</option>
                                <option value="9">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">考试日期/时间</div>
                        <div class="col-sm-4 input-group date datetimepicker">
                            <input type="text" id="startTime" class="form-control" value="" size="24" placeholder="开始时间" readonly/>
                            <span class="input-group-addon"><i class="fa fa-remove"></i></span>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="col-sm-4 input-group date datetimepicker">
                            <input type="text" id="endTime" class="form-control" value="" size="24" placeholder="结束时间" readonly/>
                            <span class="input-group-addon"><i class="fa fa-remove"></i></span>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">备注</div>
                        <div class="col-sm-10">
                            <input type="text" id="infoNotes" class="form-control" placeholder="填写备注，比如：2017级C语言第2次测试" />
                        </div>
                    </div>
                </div>
                <div class="publish-exam">
                    <div class="h4 text-center bg-inverse text-white">考试题目列表</div>
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading h6" role="tab" id="headingOne">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        2017级第2次C语言考试 - 第 1 题 - 单选
                                    </a>
                                </div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <form>
                                    <div class="form-group">
                                        <label class="form-control-label">题目描述（双击可更改）</label>
                                        <input type="text" class="form-control" value="javascript中document.getElemenById的返回值的类型为" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">相关代码（双击可更改）</label>
                                        <textarea name="" id="" rows="10" class="form-control" readonly></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">题目选项（双击可更改）</label>
                                        <div>
                                            <label class="form-control-label">A</label>
                                            <input type="text" class="form-control" value="Array" readonly />
                                            <label class="form-control-label">B</label>
                                            <input type="text" class="form-control" value="Object" readonly />
                                            <label class="form-control-label">C</label>
                                            <input type="text" class="form-control" value="String" readonly />
                                            <label class="form-control-label">D</label>
                                            <input type="text" class="form-control" value="Function" readonly />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <div class="panel-title h6">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2017级第2次C语言考试 - 第 2 题 - 单选
                                    </a>
                                </div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <div class="panel-title h6">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        2017级第2次C语言考试 - 第 3 题 - 单选
                                    </a>
                                </div>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                                beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-info btn-block publish-add" data-toggle="modal" data-target="#addExam">开始添加题目</button>
                </div>
            </main>
        </div>
    </div>





    <div class="modal fade" id="addExam" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <figure class="text-center">
                        <img src="../static/img/w3fun-100x100.png" />
                        <figcaption class="h6">
                            <span class="exam-note"></span> - 第<span class="exam-count">5</span>题
                        </figcaption>
                    </figure>
                    <button type="button" class="close js-upDismiss" data-dismiss="modal" aria-label="Close" id="upClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="">
                        <div class="form-group">
                            <div class="row">
                                <label class="form-control-label col-sm-2 text-right">题目类型</label>
                                <select name="type" id="chooseType" class="custom-select col-sm-9 form-control">
                                    <option selected>请选择</option>
                                    <option value="1">单选</option>
                                    <option value="2">多选</option>
                                    <option value="3">填空</option>
                                    <option value="4">简答</option>
                                    <option value="5">代码</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="add-desc" class="form-control-label col-sm-2 text-right">题目描述</label>
                                <input type="text" name="add-desc" id="add-desc" class="form-control col-sm-9 form-control-sm" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="add-desc" class="form-control-label col-sm-2 text-right">粘贴代码</label>
                                <textarea class="form-control col-sm-9" name="" id="" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="add-desc" class="form-control-label col-sm-2 text-right">添加/删除</label>
                                <button class="btn btn-success btn-sm">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button class="btn btn-success btn-sm">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <div class="row">
                                <label class="col-sm-1 push-sm-1">A</label>
                                <input class="col-sm-9 push-sm-1 form-control" autocomplete="off" />
                            </div>
                            <div class="row">
                                <label class="col-sm-1 push-sm-1">B</label>
                                <input class="col-sm-9 push-sm-1 form-control" autocomplete="off" />
                            </div>
                            <div class="row">
                                <label class="col-sm-1 push-sm-1">C</label>
                                <input class="col-sm-9 push-sm-1 form-control" autocomplete="off" />
                            </div>
                            <div class="row">
                                <label class="col-sm-1 push-sm-1">D</label>
                                <input class="col-sm-9 push-sm-1 form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5 push-sm-6 text-right">

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-info">确定添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/lib/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $(function() {
            $('.datetimepicker').datetimepicker({
                language: "zh-CN",
                autoclose: true,
                clearBtn: true,
                todayBtn: true,
                format: "yyyy-mm-dd hh:ii"
            });
        });
    </script>
    <script src="../static/js/admin_publish.js"></script>
</body>

</html>