<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>添加题库 - FunExam</title>
    <meta name="keyword" content="Fun Exam" />
    <meta name="description" content="An exam system for students" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css" />
    <link rel="stylesheet" href="../static/stylesheets/css/admin_add.css" />

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">
            <img src="../static/img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
            <span>Fun Exam</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="admin.html">在线统计</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="admin_add.html">添加题库<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">编辑题库</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_publish.html">发布考试</a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                            欢迎您 <span th:inline="text"> [[${#httpServletRequest.remoteUser}]]</span>

                        </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="login.html">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="padding: 10rem 0">
        <div class="row">
            <main class="col-sm-8 push-sm-2">
                <h1>添加题库</h1>
                <hr />
                <form id="addForm">
                    <section class="add-info">
                        <div class="add-text">
                            请您先选择题目类型和语言：
                        </div>
                        <fieldset class="text-right">
                            <button type="button" class="btn btn-success">确定</button>
                            <button type="button" class="btn btn-warning disabled" disabled="disabled">重新选择（会清空您填写的所有信息）</button>
                        </fieldset>
                        <div class="alert alert-danger" role="alert">
                            <strong>Error! </strong> <span></span>
                        </div>
                    </section>
                    <div class="alert alert-danger" role="alert">
                        <strong>Error! </strong> <span></span>
                    </div>
                    <!--Step1-->
                    <section id="chooseType" class="chooseStep">
                        <h2 class="h5">Step1. 选择题型</h2>
                        <div class="row">
                            <label class="col-sm-2 c-input c-radio">
                                <input id="singleC" name="type" type="radio" class="custom-radio" value="单选"/>
                                <span class="c-indicator"></span>
                                单选
                            </label>
                            <label class="col-sm-2 c-input c-radio">
                                <input id="dulC" name="type" type="radio" class="custom-radio" value="多选"/>
                                <span class="c-indicator"></span>
                                多选
                            </label>
                            <label class="col-sm-2 c-input c-radio">
                                <input id="spaceC" name="type" type="radio" class="custom-radio" value="填空"/>
                                <span class="c-indicator"></span>
                                填空
                            </label>
                            <label class="col-sm-2 c-input c-radio">
                                <input id="answerC" name="type" type="radio" class="custom-radio" value="简答"/>
                                <span class="c-indicator"></span>
                                简答
                            </label>
                            <label class="col-sm-2 c-input c-radio">
                                <input id="codeC" name="type" type="radio" class="custom-radio" value="代码"/>
                                <span class="c-indicator"></span>
                                代码
                            </label>
                        </div>
                    </section>
                    <!--Step2-->
                    <section id="chooseLang" class="chooseStep">
                        <h2 class="h5">Step2. 选择语言</h2>
                        <div class="row">
                            <label class="col-sm-3 c-input c-radio">
                                <input id="chooseC" name="lang" type="radio" class="custom-radio" value="C/C++"/>
                                <span class="c-indicator"></span>
                                C/C++
                            </label>
                            <label class="col-sm-3 c-input c-radio">
                                <input id="chooseJv" name="lang" type="radio" class="custom-radio" value="Java"/>
                                <span class="c-indicator"></span>
                                Java
                            </label>
                            <label class="col-sm-3 c-input c-radio">
                                <input id="chooseJs" name="lang" type="radio" class="custom-radio" value="JavaScript"/>
                                <span class="c-indicator"></span>
                                JavaScript
                            </label>
                            <label class="col-sm-3 c-input c-radio">
                                <input id="chooseHC" name="lang" type="radio" class="custom-radio" value="HTML/CSS"/>
                                <span class="c-indicator"></span>
                                HTML/CSS
                            </label>
                        </div>
                    </section>
                    <div id="wrap">
                        <!--Step3-->
                        <section id="setInfo" class="chooseStep">
                            <h2 class="h5">Step3. 题目描述</h2>
                            <fieldset class="form-group">
                                <label for="ex-info" class="form-control-label">请填写题目描述</label>
                                <input id="ex-info" type="text" name="info" class="form-control form-control-lg" />
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error! </strong> <span></span>
                                </div>
                            </fieldset>
                            <fieldset class="text-right">
                                <button class="btn btn-success" id="addCodeBtn">为题目描述添加代码</button>
                            </fieldset>
                            <fieldset class="form-group" id="addCodeForExInfoBox">
                                <label for="addCodeForExInfo">在下面粘贴你的代码</label>
                                <textarea class="form-control" name="code" id="addCodeForExInfo" rows="8"></textarea>
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error! </strong> <span></span>
                                </div>
                            </fieldset>
                        </section>
                        <!--Step4-->
                        <section id="setChoices" class="chooseStep">
                            <div class="forDisabled"></div>
                            <h2 class="h5">Step4. 设置选项<small style="color: #666; margin-left: 1rem">填空/简答/代码题型下不可用</small></h2>
                            <fieldset class="form-group">
                                <label for="singleC_A" class="form-control-label">A</label>
                                <input id="singleC_A" name="choices" class="form-control form-control-lg" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="singleC_B" class="form-control-label">B</label>
                                <input id="singleC_B" name="choices" class="form-control form-control-lg" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="singleC_C" class="form-control-label">C</label>
                                <input id="singleC_C" name="choices" class="form-control form-control-lg" />
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="singleC_D" class="form-control-label">D</label>
                                <input id="singleC_D" name="choices" class="form-control form-control-lg" />
                            </fieldset>
                            <fieldset class="form-group text-right">
                                <button class="btn btn-success" id="addChoiceBtn">添加选项</button>
                                <button class="btn btn-warning" id="removeChoiceBtn">删除选项</button>
                            </fieldset>
                        </section>
                        <!--Step5-->
                        <section id="confirmAdd" class="chooseStep">
                            <h2 class="h5">Step5. 确认添加</h2>
                            <fieldset class="form-group">
                                <label for="ensurePswd" class="form-control-label">您需要输入您的密码</label>
                                <input type="password" id="ensurePswd" class="form-control" maxlength="16" />
                                <div class="alert alert-danger" role="alert">
                                    <strong>Error! </strong> <span></span>
                                </div>
                            </fieldset>
                            <fieldset class="text-right">
                                <button class="btn btn-success" id="ensureBtn">确定添加</button>
                            </fieldset>
                        </section>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/js/admin_add.js"></script>
</body>

</html>