<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>发布考试 - FunExam</title>
    <meta name="keyword" content="Fun Exam" />
    <meta name="description" content="An exam system for students" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css" />
    <link rel="stylesheet" href="../static/lib/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="../static/stylesheets/css/admin_publish.css" />

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="../static/img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
            <span>Fun Exam</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="admin.html">在线统计</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_add.html">添加题库</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">编辑题库</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="admin_publish.html">发布考试<span class="sr-only">(current)</span> </a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                        欢迎您 <span th:inline="text"> [[${#httpServletRequest.remoteUser}]]</span>
                        <!--欢迎您 <span th:inline="choices"> </span>-->


                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="login.html">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-top: 10rem">
        <div class="row">
            <div class="col-sm-8 push-sm-2">
                <h1>发布考试</h1>
                <hr />
                <button type="button" class="btn btn-success btn-positioned" id="toggleBtn">查看考试题库</button>
            </div>
        </div>
    </div>

    <div class="container" id="publishCon">
        <div class="row">
            <main class="col-sm-8 push-sm-2">
                <div class="publish-info">
                    <div class="row">
                        <div class="col-sm-2">考试类型</div>
                        <div class="col-sm-10">
                            <select name="chooseType" id="chooseType" class="custom-select">
                                <option selected value="" disabled>请选择</option>
                                <option value="嵌入式">嵌入式</option>
                                <option value="web后端">web后端</option>
                                <option value="Android">Android</option>
                                <option value="web前端">web前端</option>
                                <option value="招新笔试">招新笔试</option>
                                <option value="数据结构">数据结构</option>
                                <option value="C/C++">C/C++</option>
                                <option value="Java">Java</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">考试日期</div>
                        <div class="col-sm-2">
                            <select name="chooseYear" id="chooseYear" class="custom-select">
                                <option selected value="" disabled>--</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                            </select>
                            <span style="margin-left: 10px;">年</span>
                        </div>
                        <div class="col-sm-2">
                            <select name="chooseMonth" id="chooseMonth" class="custom-select">
                                <option selected value="" disabled>--</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                            </select>
                            <span style="margin-left: 10px;">月</span>
                        </div>
                        <div class="col-sm-2">
                            <select name="chooseDay" id="chooseDay" class="custom-select">
                                <option selected value="" disabled>--</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                            <span style="margin-left: 10px;">日</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" title="考试时间不少于半小时">考试时间 <sup><i class="fa fa-exclamation-circle"></i></sup></div>
                        <div class="col-sm-6">
                            <select name="chooseSHour" id="chooseSHour" class="custom-select">
                                <option selected value="" disabled>--</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                            </select>
                            <span style="margin: 0 5px;"> : </span>
                            <select name="chooseSMin" id="chooseSMin" class="custom-select">
                                <option value="" selected disabled>--</option>
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                            <span style="margin: 0 5px;"> - </span>
                            <select name="chooseEHour" id="chooseEHour" class="custom-select">
                                <option selected value="" disabled>--</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                            </select>
                            <span style="margin: 0 5px;"> : </span>
                            <select name="chooseEMin" id="chooseEMin" class="custom-select">
                                <option value="" selected disabled>--</option>
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">考试地点</div>
                        <div class="col-sm-4">
                            <select name="chooseLocation" id="chooseLocation" class="custom-select">
                                <option selected value="" disabled>--</option>
                                <option value="明理楼C1011">明理楼 C1011</option>
                                <option value="明理楼B区4楼">明理楼 B 区 4 楼</option>
                            </select>
                        </div>
                        <div class="col-sm-5 pull-sm-1">
                            <input type="text" id="explicitLocation" class="form-control" placeholder="具体地点，比如：明理楼 B412，可不填" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">备注</div>
                        <div class="col-sm-10">
                            <input type="text" name="infoNotes" id="infoNotes" class="form-control" placeholder="填写备注，比如：2017级C语言第2次测试" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 push-sm-2">
                            <button class="btn btn-info btn-block disabled btn-js" disabled data-toggle="modal" data-target="#addExam">开始添加题目</button>
                        </div>
                        <div class="col-sm-3 push-sm-2">
                            <button class="btn btn-success btn-block disabled" id="cpltBtn" disabled data-toggle="modal" data-target="#submitModal">试题预览</button>
                        </div>
                        <div class="col-sm-3 push-sm-2">
                            <button class="btn btn-danger btn-block" id="cpltBtn" data-toggle="modal" data-target="#clearModal">清空未发布的试题</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div class="container examLibCon" id="examLibCon">
        <div class="row">
            <main class="col-sm-8 push-sm-2">考试题库</main>
        </div>
    </div>


    <div class="modal fade" id="clearModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="text-center">
                        <h6 class="h5">您想要清空未发布的题目？</h6>
                    </div>
                    <button type="button" class="close js-upDismiss" data-dismiss="modal" aria-label="Close" id="upClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="from-group">
                            <div class="row">
                                <div class="col-sm-4 push-sm-2"><button class="btn btn-danger btn-block" id="clearCfrmBtn">确定</button></div>
                                <div class="col-sm-4 push-sm-2"><button class="btn btn-info btn-block" id="clearCancelBtn">取消</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="submitModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <figure class="text-center">
                        <img src="../static/img/w3fun-100x100.png" />
                        <figcaption class="h6 ">
                            试题预览
                        </figcaption>
                    </figure>
                    <button type="button" class="close js-upDismiss" data-dismiss="modal" aria-label="Close" id="upClose">
                        <span aria-hidden="true ">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="from-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label title="密令用于用户考试验证" class="form-control-label">填写本次考试密令 <sup><i class="fa fa-exclamation-circle"></i></sup> </label>
                                </div>
                                <div class="col-sm-8"><input type="text" class="form-control" placeholder="0-9, a-z, A-Z, 共六位" autocomplete="off" /></div>
                            </div>
                        </div>
                        <div class="from-group">
                            <button class="btn btn-block btn-info" id="submitCfrmBtn">确定提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addExam" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <figure class="text-center">
                        <img src="../static/img/w3fun-100x100.png" />
                        <figcaption class="h6 ">
                            <span class="exam-note"></span> - 第 <span class="exam-count"></span> 题
                        </figcaption>
                    </figure>
                    <button type="button" class="close js-upDismiss" data-dismiss="modal" aria-label="Close" id="upClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id=" ">
                        <div class="form-group">
                            <div class="row">
                                <label class="form-control-label col-sm-2 text-right">题目类型</label>
                                <select name="examType" id="examType" class="custom-select col-sm-9 form-control">
                                    <option selected>请选择</option>
                                    <option value="单选">单选</option>
                                    <option value="多选">多选</option>
                                    <option value="填空">填空</option>
                                    <option value="简答">简答</option>
                                    <option value="代码">代码</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="examDesc" class="form-control-label col-sm-2 text-right">题目描述</label>
                                <input type="text" name="examDesc" id="examDesc" class="form-control col-sm-9 form-control-sm" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="examCode" class="form-control-label col-sm-2 text-right">粘贴代码</label>
                                <textarea class="form-control col-sm-9" name="examCode" id="examCode" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="set-choices">
                            <div class="row">
                                <span class="form-control-label col-sm-2 text-right">添加/删除</label>
                                <button class="btn btn-success btn-sm" id="examAddBtn" type="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button class="btn btn-success btn-sm" id="examRemoveBtn" type="button">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-sm-1 push-sm-1 form-check-label" for="examChoiceA">A</label>
                                    <input class="col-sm-9 push-sm-1 form-control" type="text" name="examChoiceA" id="examChoiceA" autocomplete="off" />
                                </div>  
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-sm-1 push-sm-1 form-check-label" for="examChoiceB">B</label>
                                    <input class="col-sm-9 push-sm-1 form-control" type="text" name="examChoiceB" id="examChoiceB" autocomplete="off" />
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-sm-1 push-sm-1 form-check-label" for="examChoiceC">C</label>
                                    <input class="col-sm-9 push-sm-1 form-control" type="text" name="examChoiceC" id="examChoiceC" autocomplete="off" />
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="row">
                                    <label class="col-sm-1 push-sm-1 form-check-label" for="examChoiceD">D</label>
                                    <input class="col-sm-9 push-sm-1 form-control" type="text" name="examChoiceD" id="examChoiceD" autocomplete="off" />
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-info" id="examConfirmBtn">确定添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 

    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/lib/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/lib/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $(function() {
            $('.datetimepicker').datetimepicker({
                language: "zh-CN ",
                autoclose: true,
                clearBtn: true,
                todayBtn: true,
                format: "yyyy-mm-dd hh:ii"
            });
        });
    </script>
    <script src="../static/js/funLib.js"></script>
    <script src="../static/js/admin_publish.js"></script>
</body>

</ht30