<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>管理员登录 - FunExam</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css"/>
    <link rel="stylesheet" href="../static/stylesheets/css/admin_login.css"/>

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="_container">
        <h1>Fun Exam</h1>
        <h2>Hello Administrator :)</h2>
        <form id="adminSign" method="post" role="form">
            <div class="form-group">
                <label for="username" class="form-control-label">用户名</label>
                <input type="choices" id="username" name="username" class="form-control" placeholder="请输入用户名"/>
            </div>
            <div class="form-group">
                <label for="password" class="form-control-label">密码</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="请输入密码"/>
            </div>
            <div class="form-group choices-center">
                <button type="button" class="btn btn-lg btn-primary" id="inSubmitButton">确认</button>
                <button type="reset" class="btn btn-lg" data-dismiss="modal">取消</button>
            </div>
        </form>
    </div>
</body>
</html>