<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>系统管理 - FunExam</title>
    <meta name="keyword" content="Fun Exam" />
    <meta name="description" content="An exam system for students" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css" />
    <link rel="stylesheet" href="../static/stylesheets/css/admin.css" />

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
            <script src="../static/lib/respond.min.js"></script>
            <![endif]-->
</head>

<body>
    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="#">
            <img src="../static/img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
            <span>Fun Exam</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="admin.html">在线统计<span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_add.html">添加题库</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">编辑题库</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin_publish.html">发布考试</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="exam_info.html">提交信息</a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        
                            欢迎您 <span th:inline="choices"> [[${#httpServletRequest.remoteUser}]]</span>
        
        
                        </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="login.html">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-top: 10rem">
        <div class="row">
            <main class="col-sm-8 push-sm-2">
                <h1>详情查看</h1>
                <hr />
                <h2 class="h4">C - 2017级C语言第2次考试</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>学号</th>
                            <th>姓名</th>
                            <th>专业</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>201531060573</td>
                            <td>Leo</td>
                            <td>2015物联网工程</td>
                        </tr>
                        <tr>
                            <td>201531060573</td>
                            <td>Leo</td>
                            <td>2015物联网工程</td>
                        </tr>
                        <tr>
                            <td>201531060573</td>
                            <td>Leo</td>
                            <td>2015物联网工程</td>
                        </tr>
                        <tr>
                            <td>201531060573</td>
                            <td>Leo</td>
                            <td>2015物联网工程</td>
                        </tr>
                        <tr>
                            <td>201531060573</td>
                            <td>Leo</td>
                            <td>2015物联网工程</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colSpan="3">加载更多...</td>
                        </tr>
                    </tfoot>
                </table>
            </main>
        </div>
    </div>

    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    <script src="../static/lib/highcharts.js"></script>
    <script src="../static/lib/series-label.js"></script>
    <script src="../static/lib/exporting.js"></script>
    <script src="../static/js/ajax.js"></script>
    <script src="../static/js/admin.js"></script>
</body>

</html>