<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>考题全览 - FunExam</title>
    <meta name="keyword" content="Fun Exam" />
    <meta name="description" content="An exam system for students" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../static/stylesheets/css/funExam.css" />
    <link rel="stylesheet" href="../static/lib/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="../static/stylesheets/css/afterexam.css" />

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="../static/img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
        <span>Fun Exam</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="admin.html">在线统计</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin_add.html">添加题库</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">编辑题库</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="admin_publish.html">发布考试<span class="sr-only">(current)</span> </a>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    欢迎您 <span th:inline="choices"> [[${#httpServletRequest.remoteUser}]]</span>


                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="login.html">退出登录</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="padding-top: 10rem">
    <div class="row">
        <main class="col-sm-8 push-sm-2">
            <h1>考题全览</h1>
            <hr />
            <div class="publish-info">
                <div class="row">
                    <div class="col-sm-3">考试类型</div>
                    <input type="text">

                </div>
                <div class="row">
                    <div class="col-sm-3">考试日期/时间</div>
                    <input type="text">
                </div>
                <div class="row">
                    <div class="col-sm-3">备注</div>
                    <input type="text">
                </div>
            </div>


        </main>
    </div>
</div>
</div>

<script src="../static/lib/jquery-3.2.1.min.js"></script>
<script src="../static/lib/bootstrap.min.js"></script>
<script src="../static/lib/js/bootstrap-datetimepicker.min.js"></script>
<script src="../static/lib/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>
    $(function() {
        $('.datetimepicker').datetimepicker({
            language: "zh-CN",
            autoclose: true,
            clearBtn: true,
            todayBtn: true,
            format: "yyyy-mm-title hh:ii"
        });
    });
</script>
<script src="../static/js/admin_publish.js"></script>
</body>

</html>