<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>在线考试 | FunExam</title>
    <meta name="keyword" content="FunExam，翼灵物联工作室，在线考试" />
    <meta name="description" content="FunExam - SWPU 翼灵在线考试系统首页" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/dest/css/main.css" />
    <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <form>
                <div class="form-group">
                </div>
                <div class="form-group">
                </div>
            </form>
        </div>
        <div class="text-center" id="beforeSubmit">
            <p class="h2">考生你好：</p>
            <h1>距离 {{ 翼灵物联工作室 2018 届招新考试 }} 开始还有</h1>
            <p class="h2 timeBlock">
                <span class="hourBlock"></span> :
                <span class="minuteBlock"></span> :
                <span class="secondBlock"></span>
            </p>
        </div>
        <form id="examineeForm">
            <p class="h4">请如实填写以下信息</p>
            <div class="form-group examInfoIpt">
                <lebal for="examineeName" class="form-control-label">姓名</lebal>
                <input type="text" class="form-control" id="examineeName" autocomplete="off" />
            </div>
            <div class="form-group examInfoIpt">
                <lebal for="examineeId" class="form-control-label">学号</lebal>
                <input type="text" class="form-control" id="examineeId" autocomplete="off" />
            </div>
            <div class="form-group examInfoIpt">
                <lebal for="examineeMajor" class="form-control-label">专业</lebal>
                <input type="text" class="form-control" id="examineeMajor" autocomplete="off" />
            </div>
            <div class="form-group examInfoIpt">
                <lebal for="examineeContact" class="form-control-label">QQ</lebal>
                <input type="text" class="form-control" id="examineeContact" autocomplete="off" />
            </div>
            <div class="form-group examInfoIpt">
                <lebal for="examineeToken" class="form-control-label" title="本场考试密令请询问考官">考试密令 <sup><i class="fa fa-exclamation-circle"></i></sup> </lebal>
                <input type="password" class="form-control" id="examineeToken" placeholder="本场考试密令请询问考官" autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="readme" />
                <label>我已阅读<a href="#">《考试须知》</a></label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="subInfo">提交信息，准备考试</button>
            </div>
        </form>
        <div class="text-center hidden" id="afterSubmit">
            <p class="h2">考生 {{ 某某某 }} 你好：</p>
            <h1>你即将参加 {{ 翼灵物联工作室 2018 届招新考试 }} </h1>
            <p class="h5">后本页面将自动跳转至答题页面，如未跳转，请点击 <a href="#">刷新</a></p>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <footer class="page-copyright" role="contentinfo">
                <span><i class="fa fa-cc"></i> 2018</span>
                <a href="https://github.com/w3fun/" target="_blank"><i class="fa fa-heart"></i> W3Fun</a>
                <a href="https://github.com/YiLing-IOT-Studio/" target="_blank"><i class="fa fa-heart"></i> YiLing-IOT-Studio</a>
                <a href="https://github.com/swpuLeo/" target="_blank"><i class="fa fa-male"></i> Leo</a>
                <a href="https://github.com/812913/" target="_blank"><i class="fa fa-female"></i> lwf</a>
                <a href="https://github.com/StaticWalk/" target="_blank"><i class="fa fa-male"></i> StaticWalk</a>
                <a href="https://github.com/luqingying/" target="_blank"><i class="fa fa-female"></i> lqy</a>
                <a href="https://github.com/w3fun/ExamSystem/blob/master/LICENSE" target="_blank"><i class="fa fa-copyright"></i> MIT</a>
            </footer>
        </div>
    </nav>
</body>

</html>