<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>在线考试 | FunExam</title>
    <meta name="keyword" content="FunExam，翼灵物联工作室，在线考试" />
    <meta name="description" content="FunExam - SWPU 翼灵在线考试系统首页" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/exam-detail.bundle.css" />
    <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="h3 text-center">{{2018翼灵招新考试}}</h1>
            <p class="userinfo">
                <span class="name">Leo</span>
                <span class="stuID">201851255121</span>
                <span class="major">物联网工程</span>
            </p>
            <hr/>
            <div class="papers">
                <div class="question-ch">选择题得分：30分</div>
                <div class="question">
                    <div class="q-title">10、简述localStorage与sessionStorage的区别</div>
                    <textarea cols="20" rows="8" disabled class="form-control" style="resize: none">123</textarea>
                    <div>
                        <input type="text" class="form-control" style="width: 300px;" placeholder="评分，满分10分" />
                    </div>
                </div>
                <div class="question">
                    <div class="q-title">10、简述localStorage与sessionStorage的区别</div>
                    <textarea cols="20" rows="8" disabled class="form-control" style="resize: none">123</textarea>
                    <div>
                        <input type="text" class="form-control" style="width: 300px;" placeholder="评分，满分10分" />
                    </div>
                </div>
            </div>
            <div>
                <span class="score">合计得分：71分</span>
                <button class="btn btn-success">提交</button>
            </div>
        </div>
    </div>
    <script src="dist/js/exam-detail.bundle.js"></script>
</body>

</html>