<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>首页 | FunExam</title>
    <meta name="keyword" content="FunExam，翼灵物联工作室，在线考试" />
    <meta name="description" content="FunExam - SWPU 翼灵在线考试系统首页" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../static/dest/css/main.css" /> -->
    <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>

<body>
    <!-- Tab home page -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Fun Exam</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">题库</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">翼灵物联工作室</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关于我们</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="avator" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="avator">
                            <a class="dropdown-item" href="personal.html">个人中心</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" id="logout">退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <header class="jumbotron">
            <h1 class="display-4">Fun Exam</h1>
            <p class="lead">Powered by W3Fun</p>
            <hr class="my-4" />
            <p>翼灵物联工作室（ YiLing-IOT-Studio ），成立于 2013 年，是西南石油大学物联网工程学生实验室。现工作室主要学习方向为嵌入式开发、Andriod 开发、Web 前后端开发。</p>
            <p class="lead">
                <a class="btn btn-primary" href="http://www.swpuiot.com/" target="_blank" role="button">Learn more</a>
            </p>
        </header>
        <main>
            <h2 class="display-6">考试报名</h2>
            <hr class="my-4" />
            <div class="row" id="examListForSign">
                <p class="no-exam">暂无考试</p>
            </div>
        </main>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <footer class="page-copyright" role="contentinfo">
                <span><i class="fa fa-cc"></i> 2018</span>
                <a href="https://github.com/w3fun/" target="_blank"><i class="fa fa-heart"></i> W3Fun</a>
                <a href="https://github.com/YiLing-IOT-Studio/" target="_blank"><i class="fa fa-heart"></i> YiLing-IOT-Studio</a>
                <a href="https://github.com/swpuLeo/" target="_blank"><i class="fa fa-male"></i> Leo</a>
                <a href="https://github.com/812913/" target="_blank"><i class="fa fa-female"></i> lwf</a>
                <a href="https://github.com/StaticWalk/" target="_blank"><i class="fa fa-male"></i> StaticWalk</a>
                <a href="https://github.com/luqingying/" target="_blank"><i class="fa fa-female"></i> lqy</a>
                <a href="https://github.com/w3fun/ExamSystem/blob/master/LICENSE" target="_blank"><i class="fa fa-copyright"></i> MIT</a>
            </footer>
        </div>
    </nav>

    <!-- Tab YiLing page -->

    <!-- Tab Info page -->

    <script src="../static/dist/js/funExam.bundle.js"></script>
</body>

</html>