<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
        <!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
        <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
        <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
        <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

        <head>
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>在线题库 - FunExam</title>
            <meta name="keyword" content="Fun Exam"/>
            <meta name="description" content="An exam system for students"/>
            <link rel="short icon" type="image/x-icon" href="../favicon.ico"/>
            <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
            <link rel="stylesheet" href="../static/stylesheets/css/onlineLib_practice.css"/>

            <script src="../static/lib/modernizr-2.6.2.min.js"></script>
            <!-- Respond.js for IE 8 or less only-->
            <!--[if (lt IE 9) & (!IEMobile)]>
            <script src="../static/lib/respond.min.js"></script>
            <![endif]-->

            <style type="text/css">
                body {
                    padding-top: 4.5rem;
                }
            </style>
        </head>
    <body>
    <!--[if lte IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <main class="container practice">
        <section class="row clearfix  practice-progress">
            <div class="count-progress pull-left col-9">
                <div class="progress progress-bar_show">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
                <div class="progress-bar_span text-center">
                    <span>4/5</span>
                </div>
            </div>
            <div class="time-progress pull-right text-center col-3">
                    <i class="fa fa-pause-circle"></i>
                    <time>00:23:56</time>
            </div>
        </section>

        <form class="row">
            <section class="practice-main col-12">
                <div class="practice-type">
                    <i class="fa fa-question-circle"></i>
                    <div class="practice-type-describe">
                        <span>[单选题]</span>
                        <!--<span>[多选题]</span>-->
                        <!--<span>[问答题]</span>-->
                    </div>
                    <hr/>
                </div>
                <div class="practice-specific">
                    <div class="practice-specific-title">
                        CSS盒子模型中（）是透明的，这部分可以显示背景()
                    </div>
                    <div class="practice-specific-content">
                        <ul class="list-group practice-single_choice">
                            <li class="list-group-item"><label><input type="radio" name="sing_choice" value="A">border</label></li>
                            <li class="list-group-item"><label><input type="radio" name="sing_choice" value="B">margin</label></li>
                            <li class="list-group-item"><label><input type="radio" name="sing_choice" value="C">padding</label></li>
                            <li class="list-group-item"><label><input type="radio" name="sing_choice"  value="D">content</label></li>
                        </ul>

                        <!--<ul class="list-group practice-multiple_choice">-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="A">border</label></li>-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="B">margin</label></li>-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="C">padding</label></li>-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="D">content</label></li>-->
                        <!--</ul>-->

                        <!--<div class="practice-question_and_answers">-->
                            <!--<textarea class="form-control" rows="10">-->

                            <!--</textarea>-->
                        <!--</div>-->
                    </div>

                </div>
                <div class="practice-share_submit">
                    <ul class="clearfix">
                        <li class="pull-left"><i class="fa fa-heart-o"></i>收藏本题</li>
                        <li class="pull-left"><i class="fa fa-share"></i>分享本题</li>
                    </ul>
                    <ul class="clearfix">
                        <li class="pull-right  next-practice"><input class="btn  btn-primary btn-lg" type="submit" value="下一题"/></li>
                        <li class="pull-right"><input class="btn  btn-danger btn-lg" type="submit" value="提前交卷"/></li>
                    </ul>
                </div>
            </section>
        </form>

        <hr class="mainsheethr"/>
        <section class="row practice-answer_sheet">
            <p class="col-12 text-muted">收起答题卡<i class="fa fa-chevron-up"></i></p>
            <ul class="answer_sheet clearfix">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </section>
    </main>


    <script src="../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/bootstrap.min.js"></script>
    </body>
</html>