<!DOCTYPE html>
        <!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
        <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
        <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
        <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

        <head>
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <title>在线题库 - FunExam</title>
            <meta name="keyword" content="Fun Exam"/>
            <meta name="description" content="An exam system for students"/>
            <link rel="short icon" type="image/x-icon" href="../favicon.ico"/>
            <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
            <link rel="stylesheet" href=" ../static/stylesheets/css/onlineLib_practice.css"/>
            <link rel="stylesheet" href=" ../static/lib/css/share.min.css"/>

            <script src="  ../static/lib/modernizr-2.6.2.min.js"></script>
            <!-- Respond.js for IE 8 or less only-->
            <!--[if (lt IE 9) & (!IEMobile)]>
            <script src="  ../static/lib/respond.min.js"></script>
            <![endif]-->

            <style type="choices/css">
                body {
                    padding-top: 4.5rem;
                }
            </style>
        </head>
    <body>
    <!--[if lte IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <main class="container practice">
        <section class="row clearfix  practice-progress">
            <div class="count-progress pull-left col-9">
                <div class="progress progress-bar_show">
                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="progress-bar_span choices-center">
                    <span></span>
                </div>
            </div>
            <div class="time-progress pull-right choices-center col-3">
                    <i class="fa fa-pause-circle timeIcon"></i>
                    <time>00:00:00</time>
            </div>
        </section>

        <form class="row" name="practice-form">
            <section class="practice-main col-12">
                <div class="practice-type">
                    <i class="fa fa-question-circle"></i>
                    <div class="practice-type-describe">
                        <span class="itemType">[单选题]</span>
                    </div>
                    <hr/>
                </div>
                <div class="practice-specific">
                    <div class="practice-specific-title">
                        <!--CSS盒子模型中（）是透明的，这部分可以显示背景()-->
                    </div>
                    <div class="practice-specific-code">
                        <!--public class Solution {\r\n    public boolean Find(int target, int [][] array) {\r\n\r\n    }\r\n}-->
                    </div>
                    <div class="practice-specific-content">
                        <!--<ul class="list-group practice-single_choice">-->
                            <!--<li class="list-group-item"><label><input type="radio" name="sing_choice" value="A"/>border</label></li>-->
                            <!--<li class="list-group-item"><label><input type="radio" name="sing_choice" value="B"/>margin</label></li>-->
                            <!--<li class="list-group-item"><label><input type="radio" name="sing_choice" value="C"/>padding</label></li>-->
                            <!--<li class="list-group-item"><label><input type="radio" name="sing_choice"  value="D"/>content</label></li>-->
                        <!--</ul>-->

                        <!--<ul class="list-group practice-multiple_choice">-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="A">border</label></li>-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="B">margin</label></li>-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="C">padding</label></li>-->
                            <!--<li class="list-group-item"><label><input type="checkbox" name="multiply_choice" value="D">content</label></li>-->
                        <!--</ul>-->

                        <!--<div class="practice-question_and_answers">-->
                            <!--<textarea class="form-control" rows="10" autofocus="autofocus">-->
                            <!--</textarea>-->
                            <!--<div class="areaTip">-->
                                <!--请在此处写出你的答案-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="practice-share_submit">
                    <ul class="clearfix">
                        <li class="pull-left collect" data-toggle="modal" data-target=".collectModal"><i class="fa fa-heart-o"></i>收藏本题</li>
                        <li class="pull-left share" data-toggle="modal" data-target=".shareModal"><i class="fa fa-share"></i>分享本题</li>
                    </ul>
                    <ul class="clearfix">
                        <li class="pull-right  next-practice"><button type="button" class="btn  btn-primary btn-lg nextBtn">下一题</button></li>
                        <li class="pull-right"><button type="button" class="btn  btn-danger btn-lg aheadBtn" data-toggle="modal" data-target=".aheadModal">提前交卷</button></li>
                    </ul>
                </div>
            </section>
        </form>

        <hr class="mainsheethr"/>

        <section class="row practice-answer_sheet">
            <div class="col-12 choices-muted toggleDiv">
                <span class="sheetToggle" data-toggle="collapse" data-target="#collapseSheet" aria-expanded="false" aria-controls="collapseSheet">收起答题卡</span>
                <i class="fa fa-chevron-down toggleIcon" data-toggle="collapse" data-target="#collapseSheet" aria-expanded="false" aria-controls="collapseSheet"></i>
            </div>
            <ul class="clearfix collapse answer_sheet" id="collapseSheet">

            </ul>
        </section>
    </main>

    <!-- Modal -->
    <div class="modal fade collectModal" role="dialog" tabindex="-1" aria-labelledby="collectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="collectModalLabel"><span></span>收藏本题</h4>

                    <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="collectform" id="collectform">
                            <fieldset class="form-group">
                                <label  for="collectLabel">输入标签：</label>
                                <input class="form-control" type="choices" value="" id="collectLabel" placeholder="多个标签用空格隔开" autocomplete="off" autofocus="autofocus" />
                            </fieldset>
                            <div>
                                <span>我的标签：</span><p class="myCollectLabel"><span class="labelSpan">javascript</span><span class="labelSpan">CSS</span></p>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="collectform" type="button" class="btn btn-secondary cancelBtn" data-dismiss="modal">取消</button>
                    <button form="collectform" type="button" class="btn btn-primary collectBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade shareModal" role="dialog" tabindex="-1" aria-labelledby="shareModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="shareModalTitle"><span></span>分享本题</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body social-share">
                    <!--一键分享-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary shareBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade aheadModal" role="dialog" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body choices-center aheadSure">
                    <span> <i class="fa fa-exclamation-circle"></i>您尚未完成本次练习，确定要提前交卷？</span>
                </div>
                <div class="modal-footer aheadFooter">
                    <button  type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button  type="button" class="btn btn-primary aheadModalBtn">确定</button>
                </div>
            </div>

        </div>
    </div>

    <script src="  ../static/lib/jquery-3.2.1.min.js"></script>
    <script src="../static/lib/js/jquery.share.min.js"></script>
    <script src=" ../static/lib/bootstrap.min.js"></script>
    <script src=" ../static/js/onlineLib_practice.js"></script>
    <script>
        //一键分享相关配置
        var $config = {
            url                 : '', // 网址，默认使用 window.location.href
            source              : '', // 来源（QQ空间会用到）, 默认读取head标签：<meta name="site" content="http://overtrue" />
            title               : '', // 标题，默认读取 document.title 或者 <meta name="title" content="share.js" />
            description         : '', // 描述, 默认读取head标签：<meta name="description" content="PHP弱类型的实现原理分析" />
            image               : '', // 图片, 默认取网页中第一个img标签
            sites               : ['qzone', 'qq', 'weibo','wechat'], // 启用的站点
            disabled            : ['google', 'facebook', 'twitter'], // 禁用的站点
            wechatQrcodeTitle   : '微信扫一扫：分享', // 微信二维码提示文字
            wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>',
            target : '_blank' //打开方式
        };
        $('.social-share').share($config);
    </script>
    </body>
</html>