<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>在线题库 - FunExam</title>
    <meta name="keyword" content="Fun Exam" />
    <meta name="description" content="An exam system for students" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href=" /stylesheets/css/onlineLib.css" />

    <script src=" /lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src=" /lib/respond.min.js"></script>
    <![endif]-->

    <style type="choices/css">
        body { padding-top: 4.5rem; }
    </style>
</head>

<body>
    <!--[if lte IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!--<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src=" /img/w3fun-inverse-40x40.png" id="userInfo" alt="user information" />
            <span>Fun Exam</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span> </a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true" aria-expanded="false">

                        欢迎您 <span th:inline="choices"> [[${#httpServletRequest.remoteUser}]]</span>

                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="404.html">个人主页</a>
                        <a class="dropdown-item" href="404.html">账号设置</a>
                        <a class="dropdown-item" href="404.html">我的简历</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="login.html">退出登录</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="funExam.html">Home</a></li>
        <li class="breadcrumb-item active">在线题库</li>
    </ol>

    <main class="container practice-container">
        <h1 class="display-1"><span></span>题库练习</h1>
        <form method="post" th:action="@{/select}">
            <section class="practice-choose">
                <div class="row clearfix">
                    <div class="col-11 pull-left programmeh">
                        <h2 class="display-2">编程语言</h2>
                    </div>
                    <div class="col-1 pull-right programmeSelectAll">
                        <input class="selectAllcheckbox" type="checkbox" value="" />全选
                    </div>
                </div>
                <hr/>
                <div class="row practice-choose_programme">
                    <div class="col-4  custom-checkbox">
                        <div class="row">
                            <div class="col-4">
                                <input class="programme" name="programmeA" type="checkbox" value="HTML+CSS" />HTML/CSS
                            </div>
                            <div class="col-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        <span class="sr-only">40% 完成</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span>0</span>&frasl;<span>100</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4  custom-checkbox">
                        <div class="row">
                            <div class="col-4 language-name">
                                <input class="programme" name="programmeB" type="checkbox" value="Javascript" />Javascript
                            </div>
                            <div class="col-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        <span class="sr-only">40% 完成</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span>0</span>&frasl;<span>100</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-4  custom-checkbox">
                        <div class="row">
                            <div class="col-4 language-name">
                                <input class="programme" name="programmeC" type="checkbox" value="Java" />Java
                            </div>
                            <div class="col-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        <span class="sr-only">40% 完成</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span>0</span>&frasl;<span>100</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-4  custom-checkbox choose">
                        <div class="row">
                            <div class="col-4">
                                <input class="programme" name="programmeD" type="checkbox" value="C" />C
                            </div>
                            <div class="col-5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        <span class="sr-only">40% 完成</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <span>0</span>&frasl;<span>100</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="practice-defined">
                <div>
                    <span>出题数量：</span>
                    <label class="radio-inline"><input type="radio" name="count" value="5" />5题</label>
                    <label class="radio-inline"><input type="radio" name="count" value="10" checked="checked"/>10题</label>
                    <label class="radio-inline"><input type="radio" name="count" value="20"/>20题</label>
                    <label class="radio-inline"><input type="radio" name="count" value="30"/>30题</label>
                </div>
            </section>

            <section class="practice-submit clearfix">
                <div class="practice-submit-tip">
                    <p class="choices-muted">已选择：<span class="submitTip"></span></p>
                </div>
                <div class="practice-submit-btn">
                    <input class="btn btn-lg resetBtn" type="reset" value="重选" />
                    <input class="btn btn-lg btn-primary subBtn" type="submit" value="确定" />
                </div>
            </section>
        </form>
    </main>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/js/onlineLib.js"></script>
</body>

</html>