<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>个人中心 | FunExam</title>
    <meta name="keyword" content="个人中心，Fun Exam" />
    <meta name="description" content="完善个人资料" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="short icon" type="image/x-icon" href="../favicon.ico" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/dist/css/funExam.bundle.css" />
    <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
</head>

<body>
    <!--[if lte IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Fun Exam</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">个人中心 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="funExam.html">返回首页</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="avator" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>
                        <div class="dropdown-menu" aria-labelledby="avator">
                            <a class="dropdown-item" href="#">个人中心</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item active">我的考试</li>
                    <li class="list-group-item">账号设置</li>
                    <li class="list-group-item" style="display: none;" id="isAdmin"><a href="http://www.swpuiot.com">{{管理员中心}}</a></li>
                </ul>
            </div>
            <div class="col-9">
                <!-- Tab My Exam -->
                <div class="listBox">
                    <div class="jumbotron">
                        <h1 class="h4" id="avator-title"></h1>
                        <p class="lead">
                            欢迎使用 Fun Exam 考试系统。
                        </p>
                        <hr class="my-4" />
                        <p>找到适合自己的工作从来不是一件容易的事。我们希望通过科学严谨的面试流程，确保能充分了解每一位候选人。但同时我们也希望您能理解面试并不是对个人能力的单方面考核，而是关于匹配程度的双向选择。 <br />在开始申请前，我们建议您先查看官网上的 这篇攻略，以便了解 CVTE 校招面试的各个环节。如果还有疑问，可以关注“CVTE校园招聘”微信公众号并在后台留言，或者在工作时段拨打 020-86154330，我们会尽全力帮您解答问题。</p>
                    </div>
                    <div class="jumbotron">
                        <ul class="nav nav-tabs tabGroup1">
                            <li class="nav-item">
                                <span class="nav-link active">即将参加的考试</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">已参加的考试</span>
                            </li>
                        </ul>
                        <div class="tabCon1">
                            <div class="row" id="examingDetail"></div>
                        </div>
                        <div class="tabCon1" style="display: none;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">时间</th>
                                        <th scope="col">名称</th>
                                        <th scope="col">成绩</th>
                                    </tr>
                                </thead>
                                <tbody id="examedDetail">
                                    <tr class="no-examedDetail">
                                        <td scope="row">您没有参加过考试</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Tab Account Setting -->
                <div class="listBox" style="display: none;">
                    <div class="jumbotron">
                        <ul class="nav nav-tabs tabGroup2">
                            <li class="nav-item">
                                <span class="nav-link active" href="#">基本信息</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link" href="#">账号绑定</span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link" href="#">密码修改</span>
                            </li>
                        </ul>
                        <form class="tabCon2">
                            <div class="form-group row">
                                <label for="trueName" class="col-sm-2 col-form-label">真实姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="trueName" placeholder="为了您后续的笔试、面试，我们建议你实名">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">专业年级</label>
                                <div class="col-sm-3">
                                    <select class="custom-select" id="majorInfo">
                                                <option selected>专业</option>
                                                <option value="物联网工程">物联网工程</option>
                                                <option value="软件">软件工程</option>
                                                <option value="计算机科学与技术">计算机科学与技术</option>
                                                <option value="网络工程">网络工程</option>
                                            </select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="custom-select" id="gradeInfo">
                                                <option selected>年级</option>
                                                <option value="2018">2018</option>
                                                <option value="2017">2017</option>
                                                <option value="2016">2016</option>
                                            </select>
                                </div>
                                <div class="col-sm-4" id="otherInfo">
                                    <input type="text" class="form-control" placeholder="非计科院专业请手动填写专业名称" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="button">修改资料</button>
                            </div>
                        </form>
                        <form class="tabCon2" style="display: none;">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">绑定邮箱</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly class="form-control-plaintext" id="inputPassword5" value="您当前的邮箱是 email@example.com">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-primary btn-sm" type="button">重新绑定</button>
                                </div>
                            </div>
                        </form>
                        <form class="tabCon2" style="display: none;">
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">原始密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="原始密码" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword2" class="col-sm-2 col-form-label">新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword2" placeholder="新密码" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword1" class="col-sm-2 col-form-label">确认新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword1" placeholder="确认新密码" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm" type="button">保存</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <footer class="page-copyright" role="contentinfo">
                <span><i class="fa fa-cc"></i> 2018</span>
                <a href="https://github.com/w3fun/" target="_blank"><i class="fa fa-heart"></i> W3Fun</a>
                <a href="https://github.com/YiLing-IOT-Studio/" target="_blank"><i class="fa fa-heart"></i> YiLing-IOT-Studio</a>
                <a href="https://github.com/swpuLeo/" target="_blank"><i class="fa fa-male"></i> Leo</a>
                <a href="https://github.com/812913/" target="_blank"><i class="fa fa-female"></i> lwf</a>
                <a href="https://github.com/StaticWalk/" target="_blank"><i class="fa fa-male"></i> StaticWalk</a>
                <a href="https://github.com/luqingying/" target="_blank"><i class="fa fa-female"></i> lqy</a>
                <a href="https://github.com/w3fun/ExamSystem/blob/master/LICENSE" target="_blank"><i class="fa fa-copyright"></i> MIT</a>
            </footer>
        </div>
    </nav>

    <script src="../static/dist/js/personal.bundle.js"></script>
</body>

</html>