<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>在线考试 - FunExam</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="../favicon.ico"/>
    <link rel="stylesheet" href="../static/stylesheets/css/p_completed.css"/>

    <script src="../static/lib/modernizr-2.6.2.min.js"></script>
    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="../static/lib/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body">
<!--[if lte IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
    <header class="container header">
        <p><span>评估报告</span></p>
        <hr/>
    </header>
    <main class="container main">
       <section class="row score-skill">
           <div class="col-6">
               <p class="score"><img src="../static/img/chart.png"/>得分：100.0</p>
               <ul class="score-detail list-unstyled">
                   <li>试卷：HTML+CSS专项练习</li>
                   <li>正确题数：10/10</li>
                   <li>得分：100.0</li>
                   <li>用时：00:05:20</li>
               </ul>
           </div>
           <div class="col-6">
               <iframe class="skill-chart" width="100%" height="450" src="skill_chart.html" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
           </div>
       </section>
        <section class="skill-progress">
            <p><span></span>通过本次练习，您的以下技能发生了变化</p>
            <div class="skill-progress-block row">
                <span class="col-2">HTML+CSS</span>
                <div class="progress skill-progress-bar col-7">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">25% Complete</span>
                    </div>
                </div>
                <a type="button"  class="btn  btn-primary btn-lg col-3" role="button" href="onlineLib.html">继续练习技能</a>
            </div>
        </section>
    </main>
<script src="../static/lib/jquery-3.2.1.min.js"></script>
<script src="../static/lib/bootstrap.min.js"></script>
</body>
</html>