<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        td{
            border: 1px solid;
        }
    </style>
</head>
<body>
<table style="width: 100%;text-align: center">
    <tr height="100px" bgcolor="yellow">
        <td colspan="3">网站名称</td>
    </tr>
    <tr bgcolor="blue">
        <td>网站标题</td>
        <td colspan="2">搜索框</td>
    </tr>
    <tr height="300px" bgcolor="yellow">
        <td width="33.3%">左</td>
        <td>中</td>
        <td>右</td>
    </tr>
    <tr height="100px" bgcolor="blue">
        <td colspan="3">网站底部信息</td>
    </tr>
</table>
</body>
<ml>
