.container-fluid {
  position: absolute;
  top: 10%;
  left: 10%;
}

html {
  font-size: $html-font-size-base;
}

body {
  font-size: $body-font-size-base;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: $headings-margin-bottom;
}

._brand {
  font-size: 4.8rem;
  margin: 4rem 0;
}

#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*
@keyframes opacity_show {
  from  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity_show {
  animation-name: opacity_show;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@keyframes slide_down_in {
  from {
    display: none;
    transform: translateY(-5rem);
  }
  to {
    display: block;
    transform: translateY(0);
  }
}

.slide_down {
  animation-name: slide_down;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}*/
