// Variables
//


// Colors
//
// Define gray scale and special colors for use across ExamSystem

// Start with assigning color names to specific hex values.
$white:   #fff !default;
$black:   #000 !default;
$red:     #f08080 !default;
$orange:  #ff7f50 !default;
$yellow:  #F9DC36 !default;
$green:   #63D62A !default;
$teal:    #2BE2D3 !default;
$blue:    #2B80E2 !default;
$pink:    #9923cc !default;
$purple:  #ff69b4 !default;

// Create gray scale
$gray-dark:        #474747 !default;
$gray:             #808080 !default;
$gray-light:       #a9a9a9 !default;
$gray-lighter:     #d3d3d3 !default;
$gray-lightest:    #F5F5F5 !default;

// Reassign color vars to semantic color scheme
$global-primary:    $blue !default;
$global-success:    $green !default;
$global-info:       $teal !default;
$global-warning:    $orange !default;
$global-danger:     $red !default;
$global-inverse:    $gray-dark !default;

// Sapcing
//
// Control the default styling of most Bootstrap elements by modifying these variables.
// Mostly focus on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:      1rem !default;
$spacer-x:    $spacer !default;
$spacer-y:    $spacer !default;
$spacers: (
        0: (
                x: 0,
                y: 0
        ),
        1: (
                x: ($spacer-x * .25),
                y: ($spacer-y * .25)
        ),
        2: (
                x: ($spacer-x * .5),
                y: ($spacer-y * .5)
        ),
        3: (
                x: $spacer-x,
                y: $spacer-y
        ),
        4: (
                x: ($spacer-x * 1.5),
                y: ($spacer-y * 1.5)
        ),
        5: (
                x: ($spacer-x * 3),
                y: ($spacer-y * 3)
        )
) !default;

$border-width: 1px !default;


// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-dark !default;


// Links
//
// Style anchor elements

$link-color: $global-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;