body{
    background-color: #eeeeee;
    min-width:410px;
}
.practice-choose_programme>.col-4{
    min-width:360px;
}
.practice-container{
    width:95%;
    background-color: #fff;
    padding:20px;
}
form{
    padding:10px;
}

.display-1,.display-2{
    vertical-align: middle;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
}
.display-1>span{
    display: inline-block;
    width:15px;
    height:15px;
   margin-right:3px;
    background: #7baaf7;
}
.display-2{
    margin-bottom:15px;
    font-size:1.8rem;
    color: #5f5f5f;
}
.practice-choose{
    background-color: #f3f7f9;
    padding:15px;
}
.practice-choose>hr{
    margin-bottom:30px;
}
.practice-choose>.row>[class*="col-"]{
    margin-bottom:10px;
}
.practice-choose>.row>.programmeh,.practice-choose>.row>.programmeSelectAll{
    margin-bottom:0;
}
.practice-choose input[type="checkbox"]{
    width:15px;
    height:15px;
    margin-right:3px;
    vertical-align: -1px;
}
.practice-defined{
    padding:0 15px;
    height:51px;
    line-height:51px;
}
.practice-submit{
    padding: 15px;
}
.practice-defined{
    background-color: #ffffff;
}
.practice-defined label{
    margin-bottom:0;
    margin-right:8px;
}
.practice-defined label input{
    margin-right:2px;
}
.practice-submit{
    background-color: #f6f6f6;
}
.practice-submit-tip{
    float: left;
}
.practice-submit-tip p{
    margin-top:5px;
    margin-bottom:0;
}
.selectNone{
    color: #ff4d46;
}
.practice-submit-btn{
    float: right;
}

@media screen and (min-width: 1210px) {
    .language-name{
        text-align: right;
    }
}